body.chapter {
    h1 {
        font-weight: normal;
        font-size: 2.5rem;
        text-align: center;
        margin: 3.236rem 0 2rem 0;
    
        counter-reset: chapter var(--chapter-nb);
    }

    .ref-nb:before {
        content: counter(chapter) "."
    }

    h2 {
        font-size: 1.5rem;
        counter-reset: subsection;

        &:before {
            content: counter(chapter) "." counter(section) "\0000a0\0000a0";
            counter-increment: section;
        }
    }
    
    h3 {
        counter-reset: subsubsection;

        &:before {
            content: counter(chapter) "." counter(section) "." counter(subsection) "\0000a0\0000a0";
            counter-increment: subsection;
        }
    }
    
    h4:before {
        content: counter(chapter) "." counter(section) "." counter(subsection) "." counter(subsubsection) "\0000a0\0000a0";
        counter-increment: subsubsection;
    }
}

