.draw-wrapper {
    break-inside: avoid;

    .grid {
        display: grid;
        margin: 1rem auto;
        font-size: 13px;
        column-gap: 10px;

        .error {
          background-color: rgba(255, 0, 0, 0.3)
        }

        .success {
          background-color: rgba(0, 255, 0, 0.3)
        }

        code {
            white-space: nowrap;
        }

        .node {
            justify-self: center;
            align-self: center;
            padding: 0 0.4rem;

            .content {
                position: relative;
            }
        }

        & > svg {
            padding: 0;
        }

        .node.diamond {
            width: 20px;
            height: 20px;
            border: 1px solid black;
            transform-origin: center;
            transform: rotate(45deg);
            padding: 0;
            position: relative;

            & > .content {
                transform: rotate(-45deg) translate(-1.5px, -1.5px);
                width: 28px;
                height: 28px;
                top: -5px;
                left: -5px;
            }
        }

        .node.start {
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background-color: black;
        }
    
        .node.end {
            width: 20px;
            height: 20px;
            border-radius: 10px;
            border: 1px solid black;
            position: relative;
        }
    
        .node.end::before {
            content: ' ';
            position: absolute;
            top: 3px;
            left: 3px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: black;
        }
    
        .node.dummy {
            width: 0;
            height: 0;
            padding: 0;
        }
    
        .node.rect {
            padding: 0.5rem 1rem;
            border: 1px solid black;
        }
    
        .node.round {
            padding: 0.5rem 1rem;
            border: 1px solid black;
            border-radius: 10px;
        }
    }
}
