.mode-deck .pygments pre {
  margin-bottom: 0;
}

.pygments {
  background: #f0f0f0;
  border-radius: 4px;
  margin: 1rem 0;

  table {
    border: none;
  }

  td {
    border: none;
    text-align: left;
    padding: 0;
  }

  pre {
    line-height: 125%;
    margin: 0;
  }

  td.linenos .normal {
    color: inherit;
    background-color: transparent;
  }

  span.linenos {
    color: inherit;
    background-color: transparent;
  }

  td.linenos .special {
    color: #000000;
    background-color: #ffffc0;
  }

  span.linenos.special {
    color: #000000;
    background-color: #ffffc0;
  }

  .hll {
    display: block;
    background-color: #ffffcc;
    border: 3px solid #aa0000;
    border-radius: 0.3em;
    padding: 2px 6px;
    margin: -5px -9px;
  }

  .c {
    color: #3d7b7b;
    font-style: italic;
  }

  /* Comment */
  .err {
    border: 1px solid #ff0000;
  }

  /* Error */
  .k {
    color: #008000;
    font-weight: bold;
  }

  /* Keyword */
  .o {
    color: #666666;
  }

  /* Operator */
  .ch {
    color: #3d7b7b;
    font-style: italic;
  }

  /* Comment.Hashbang */
  .cm {
    color: #3d7b7b;
    font-style: italic;
  }

  /* Comment.Multiline */
  .cp {
    color: #9c6500;
  }

  /* Comment.Preproc */
  .cpf {
    color: #3d7b7b;
    font-style: italic;
  }

  /* Comment.PreprocFile */
  .c1 {
    color: #3d7b7b;
    font-style: italic;
  }

  /* Comment.Single */
  .cs {
    color: #3d7b7b;
    font-style: italic;
  }

  /* Comment.Special */
  .gd {
    color: #a00000;
  }

  /* Generic.Deleted */
  .ge {
    font-style: italic;
  }

  /* Generic.Emph */
  .ges {
    font-weight: bold;
    font-style: italic;
  }

  /* Generic.EmphStrong */
  .gr {
    color: #e40000;
  }

  /* Generic.Error */
  .gh {
    color: #000080;
    font-weight: bold;
  }

  /* Generic.Heading */
  .gi {
    color: #008400;
  }

  /* Generic.Inserted */
  .go {
    color: #717171;
  }

  /* Generic.Output */
  .gp {
    color: #000080;
    font-weight: bold;
  }

  /* Generic.Prompt */
  .gs {
    font-weight: bold;
  }

  /* Generic.Strong */
  .gu {
    color: #800080;
    font-weight: bold;
  }

  /* Generic.Subheading */
  .gt {
    color: #0044dd;
  }

  /* Generic.Traceback */
  .kc {
    color: #008000;
    font-weight: bold;
  }

  /* Keyword.Constant */
  .kd {
    color: #008000;
    font-weight: bold;
  }

  /* Keyword.Declaration */
  .kn {
    color: #008000;
    font-weight: bold;
  }

  /* Keyword.Namespace */
  .kp {
    color: #008000;
  }

  /* Keyword.Pseudo */
  .kr {
    color: #008000;
    font-weight: bold;
  }

  /* Keyword.Reserved */
  .kt {
    color: #b00040;
  }

  /* Keyword.Type */
  .m {
    color: #666666;
  }

  /* Literal.Number */
  .s {
    color: #aa0000;
  }

  /* Literal.String */
  .na {
    color: #687822;
  }

  /* Name.Attribute */
  .nb {
    color: #008000;
  }

  /* Name.Builtin */
  .nc {
    color: #0000ff;
    font-weight: bold;
  }

  /* Name.Class */
  .no {
    color: #880000;
  }

  /* Name.Constant */
  .nd {
    color: #aa22ff;
  }

  /* Name.Decorator */
  .ni {
    color: #717171;
    font-weight: bold;
  }

  /* Name.Entity */
  .ne {
    color: #cb3f38;
    font-weight: bold;
  }

  /* Name.Exception */
  .nf {
    color: #0000ff;
  }

  /* Name.Function */
  .nl {
    color: #767600;
  }

  /* Name.Label */
  .nn {
    color: #0000ff;
    font-weight: bold;
  }

  /* Name.Namespace */
  .nt {
    color: #008000;
    font-weight: bold;
  }

  /* Name.Tag */
  .nv {
    color: #19177c;
  }

  /* Name.Variable */
  .ow {
    color: #aa22ff;
    font-weight: bold;
  }

  /* Operator.Word */
  .w {
    color: #bbbbbb;
  }

  /* Text.Whitespace */
  .mb {
    color: #666666;
  }

  /* Literal.Number.Bin */
  .mf {
    color: #666666;
  }

  /* Literal.Number.Float */
  .mh {
    color: #666666;
  }

  /* Literal.Number.Hex */
  .mi {
    color: #666666;
  }

  /* Literal.Number.Integer */
  .mo {
    color: #666666;
  }

  /* Literal.Number.Oct */
  .sa {
    color: #aa0000;
  }

  /* Literal.String.Affix */
  .sb {
    color: #aa0000;
  }

  /* Literal.String.Backtick */
  .sc {
    color: #aa0000;
  }

  /* Literal.String.Char */
  .dl {
    color: #aa0000;
  }

  /* Literal.String.Delimiter */
  .sd {
    color: #aa0000;
    font-style: italic;
  }

  /* Literal.String.Doc */
  .s2 {
    color: #aa0000;
  }

  /* Literal.String.Double */
  .se {
    color: #aa5d1f;
    font-weight: bold;
  }

  /* Literal.String.Escape */
  .sh {
    color: #aa0000;
  }

  /* Literal.String.Heredoc */
  .si {
    color: #a45a77;
    font-weight: bold;
  }

  /* Literal.String.Interpol */
  .sx {
    color: #008000;
  }

  /* Literal.String.Other */
  .sr {
    color: #a45a77;
  }

  /* Literal.String.Regex */
  .s1 {
    color: #aa0000;
  }

  /* Literal.String.Single */
  .ss {
    color: #19177c;
  }

  /* Literal.String.Symbol */
  .bp {
    color: #008000;
  }

  /* Name.Builtin.Pseudo */
  .fm {
    color: #0000ff;
  }

  /* Name.Function.Magic */
  .vc {
    color: #19177c;
  }

  /* Name.Variable.Class */
  .vg {
    color: #19177c;
  }

  /* Name.Variable.Global */
  .vi {
    color: #19177c;
  }

  /* Name.Variable.Instance */
  .vm {
    color: #19177c;
  }

  /* Name.Variable.Magic */
  .il {
    color: #666666;
  }

  /* Literal.Number.Integer.Long */
}
