body {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    background-color: #353535;
    margin: 0 auto;
    position: relative;
}

.ghost {
    pointer-events: none;
}

.connector:hover, .input:hover {
    stroke: cyan;
}

svg {
  display: block;
}

svg text {
    pointer-events: none;
    cursor: default;
    user-select: none;
}
svg text::selection {
    background: none;
}

#wires line {
    pointer-events: auto;
}

#wires line.outline:hover {
    stroke-opacity: 0.3;
}

#simulation {
    position: relative;
}

#menu {
    position: absolute;
    min-width: 100px;
    top: 100px;
    left: -1000px;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    background-color: #999;
}

#menu ul li {
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#menu ul li:hover {
    background-color: #ccc;
}

button {
    display: inline-block;
    background-color: #555;
    color: #ccc;
    margin: 0 1px;
    border: 1px solid black;
    padding: 0.3rem 0.5rem;
    font-weight: bold;
}

.connector-label {
    opacity: 0;
    pointer-events: none;
}

.connector:hover ~ .connector-label {
    opacity: 1;
}

.modal {
  display: none;
}

.modal.show {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.frame {
  background-color: #ccc;
  padding: 1rem;
  border: 2px solid black;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.row > * {
  flex-grow: 1;
}

.row > .separate {
  margin-left: 1rem;
}

.column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.column > * {
  flex-grow: 1;
}

.column > .separate {
  margin-top: 1rem;
}

.column > .row.pull-right {
  justify-content: flex-end;
}

.row.pull-right > * {
  flex-grow: 0;
}

#alert-content {
  font-weight: normal;
}
