@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@page {
	margin: 1cm;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
	background-color: white;
}

code {
	font-size: .875em;
	color: #d63384;
	word-wrap: break-word;
	font-family: 'Source Code Pro', monospace;
}

h3 {
	font-size: 1em;
	font-variant: small-caps;
	font-weight: bolder;
}

strong {
	font-weight: normal;
	color: red;
}

li, p {
	margin: 0 0 1em 0;
	text-align: justify;
}

li small {
	display: block;
	padding-left: 3ex;
	margin-top: 0.5em;
	font-size: 1em;
	color: gray;
}

li > ul {
	margin-top: 0.5em;
}

.indent {
	padding-left: 3ex;
}

h1 {
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6, pre, table, img {
	break-inside: avoid-page;
}

/* hack that avoid page break after h2 et h3 */
h2::after, h3::after, h4::after {
	content: "";
	display: block;
	height: 100px;
	margin-bottom: -100px;
}

.center {
	text-align: center;
}

.big {
	font-size: 1.5em;
}

h1 > small {
	display: block;
	font-size: 0.6em;
	font-weight: normal;
	color: gray;
	margin-top: 0.4em;
}

.row {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 10px;
	justify-items: stretch;
	align-items: stretch;
	justify-content: stretch;
	align-content: stretch;

	.span2 {
		grid-column-end: span 2;
	}

	.span3 {
		grid-column-end: span 3;
	}

	.span4 {
		grid-column-end: span 4;
	}

	.span5 {
		grid-column-end: span 5;
	}

	.span6 {
		grid-column-end: span 6;
	}

	.span7 {
		grid-column-end: span 7;
	}

	.span8 {
		grid-column-end: span 8;
	}

	.span9 {
		grid-column-end: span 9;
	}

	.span10 {
		grid-column-end: span 10;
	}

	.span11 {
		grid-column-end: span 11;
	}
}

figure {
	margin: 0 0 1em 0;
	padding: 0;
	text-align: center;

	figcaption {
		text-align: center;
		font-style: italic;
		font-size: 0.8em;
	}

	img {
		max-width: 100%;

		&.half {
			width: 50%;
		}
		
		&.third {
			width: 33%;
		}
		
		&.third2 {
			width: 66%;
		}
		
		&.fourth {
			width: 25%;
		}
		
		&.fourth3 {
			width: 75%;
		}
		
		&.zoom {
			width: 75%;
		}
		
		&.max {
			width: 100%;
		}
	}
}

.terminal {
	background-color: darkslategray;
	color: white;
	font-family: consolas, monospace;
	white-space: pre;
	padding: 1rem;
	font-size: 0.9em;
	margin-bottom: 1em;

	&::before {
		content: "Terminal";
		display: block;
		background-color: black;
		text-align: center;
		margin: -1rem;
		padding: 0.5rem;
		margin-bottom: 1rem;
	}
}

.file-title {
	margin-bottom: -1.2em;
	font-family: consolas, monospace;
	font-size: 0.9em;
	color: white;
	padding: 0.5rem;
	text-align: center;
	background-color: #686868;
}

.middle {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

table {
	border: 2px solid black;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

td, th {
	border: 1px solid #666;
	text-align: center;
	padding: 0.2em 1em;
}

th {
	border-bottom: 2px solid black;
}

.mode-deck {
	.document-only {
		display: none;
	}

	.deck-before, .deck-previous, .deck-next, .deck-after {
		display: none;
	}

	.deck-current {
		display: flex;
		font-size: 3.5vh;
		width: 133vh;
		min-height: 100vh;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
		padding: 12vh 4vh 4vh 4vh;

		h2 {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			margin: 0;
			padding: 2vh 10vh;
			font-family: 'Roboto Slab', serif;
			font-size: 1.2em;
			color: white;
			background-color: green;
			text-align: right;
			z-index: 1000;
		}

		h1 {
			font-family: 'Roboto Slab', serif;
			font-size: 2em;
		}

		&>* {
			flex: 0 0 auto;
		}

		&.full {
			width: 100vw;
			height: 100vh;
			padding: 0;
	
			h2 {
				background-color: rgba(0, 0, 0, 0.5);
			}
	
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				margin: 0;
			}
		}

		&.code {
			width: 95%;

			&::before {
				position: fixed;
				background-color: #f0f0f0;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				content: '';
				z-index: 10;
				display: block;
			}

			&::after {
				content: '';
				position: fixed;
				top: 0;
				left: 0;
				bottom: 0;
				width: 3%;
				background-color: #bbb;
				z-index: 20;
			}

			& > * {
				z-index: 100;
			}

			h2 {
				z-index: 1000;
				background-color: #555;
			}
		}
	}
}

.mode-document {
	max-width: 60ex;
	margin: 0 auto;

	.deck-only {
		display: none;
	}

	h2 {
		font-size: 1.1em;
		margin-top: 1.5em;
	}

	h1 {
		text-align: right;
		border-bottom: 1px solid lightgray;
		padding: 1em 0;
	}

	.full img {
		max-width: 100%;
	}
}

body.mode-document {
	padding: 1rem;
}

@media(print) {
	body.mode-document {
		padding: 0;
	}
}