html, body, svg {
  height: 100%;
  width: 100%;
  margin: 0;
}

svg {
  touch-action: none;
}

#tools {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
  justify-content: space-between;
  pointer-events: none;
}

button {
  border-radius: 3px;
  border: 1px solid gray;
  padding: 0.25rem 0.5rem;
  pointer-events: auto;
  font-size: 1.5rem;
}

button > svg {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

button.selected {
  border: 3px solid #f06;
}

.filler {
  flex-grow: 1;
}
