body {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.ghost {
    pointer-events: none;
}

.connector:hover, .input:hover {
    stroke: cyan;
}

svg text {
    pointer-events: none;
    cursor: default;
    user-select: none;
}
svg text::selection {
    background: none;
}