<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <script>
      {% if target.startsWith('http') %}
        window.location.href = `{{ target }}`
      {% else %}
        window.location.pathname = `{{ target }}`
      {% endif %}
    </script>
  </body>
</html>
