@charset "UTF-8";
/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

*/
pre {
  tab-size: 3;
}

.hljs {
  display: block;
}

/* Base color: saturation 0; */
.hljs,
.hljs-subst {
  color: #444;
}

.hljs-comment {
  color: #888888;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}

/* User color: hue: 0 */
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #AA0000;
}

.hljs-title,
.hljs-section {
  color: #AA0000;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060;
}

/* Language color: hue: 90; */
.hljs-literal {
  color: green;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: green;
}

/* Meta color: hue: 200 */
.hljs-meta {
  color: #1f7199;
}

.hljs-meta-string {
  color: #4d99bf;
}

/* Misc effects */
.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.draw-wrapper {
  break-inside: avoid;
}
.draw-wrapper .grid {
  display: grid;
  margin: 1rem auto;
  font-size: 13px;
  column-gap: 10px;
}
.draw-wrapper .grid .error {
  background-color: rgba(255, 0, 0, 0.3);
}
.draw-wrapper .grid .success {
  background-color: rgba(0, 255, 0, 0.3);
}
.draw-wrapper .grid code {
  white-space: nowrap;
}
.draw-wrapper .grid .node {
  justify-self: center;
  align-self: center;
  padding: 0 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.draw-wrapper .grid .node .content {
  position: relative;
}
.draw-wrapper .grid > svg {
  padding: 0;
}
.draw-wrapper .grid .node.diamond {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  transform-origin: center;
  transform: rotate(45deg);
  padding: 0;
  position: relative;
}
.draw-wrapper .grid .node.diamond > .content {
  transform: rotate(-45deg) translate(-1.5px, -1.5px);
  width: 28px;
  height: 28px;
}
.draw-wrapper .grid .node.ellipse {
  border-radius: 50%;
  border: 1px solid black;
}
.draw-wrapper .grid .node.start {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: black;
}
.draw-wrapper .grid .node.end {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
}
.draw-wrapper .grid .node.end::before {
  content: " ";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: black;
}
.draw-wrapper .grid .node.dummy {
  width: 0;
  height: 0;
  padding: 0;
}
.draw-wrapper .grid .node.rect {
  padding: 0.5rem 1rem;
  border: 1px solid black;
}
.draw-wrapper .grid .node.round {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: white;
}

h1, h2, h3, h4 {
  font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
}

code {
  font-size: 0.875em;
  color: #AA0000;
  white-space: pre;
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-weight: normal;
}

pre {
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-weight: normal;
  overflow-x: auto;
  padding: 1em 0.8em;
  background: #F0F0F0;
  border-radius: 4px;
  font-size: 75%;
}

pre > code {
  font-size: 100%;
}

p, li, pre, figure, h1, h2, h3, h4 {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, pre, table, img {
  break-inside: avoid;
}

h1, h2, h3, h4 {
  margin-top: 2rem;
}

ul, ol, figure, pre, .file-title, .terminal {
  margin-top: 1rem;
}

/* hack that avoid page break after h2 et h3 */
h2::after, h3::after, h4::after {
  content: "";
  display: block;
  height: 100px;
  margin-bottom: -100px;
}

p, li {
  text-align: justify;
}

li {
  margin-left: 30px;
}

figure {
  text-align: center;
  break-inside: avoid;
}
figure figcaption {
  text-align: center;
  font-style: italic;
  font-size: 0.8em;
}
figure pre {
  text-align: left;
}
figure table {
  margin: 1rem auto;
}
figure img, figure canvas {
  max-width: 100%;
}
figure img.half, figure canvas.half {
  width: 50%;
}
figure img.third, figure canvas.third {
  width: 33%;
}
figure img.third2, figure canvas.third2 {
  width: 66%;
}
figure img.fourth, figure canvas.fourth {
  width: 25%;
}
figure img.fourth3, figure canvas.fourth3 {
  width: 75%;
}
figure img.zoom, figure canvas.zoom {
  width: 75%;
}
figure img.max, figure canvas.max {
  width: 100%;
}

h1 > small {
  display: block;
  font-size: 0.6em;
  font-weight: normal;
  color: gray;
  margin: 1rem 0;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 10px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch;
}
.row .span2 {
  grid-column-end: span 2;
}
.row .span3 {
  grid-column-end: span 3;
}
.row .span4 {
  grid-column-end: span 4;
}
.row .span5 {
  grid-column-end: span 5;
}
.row .span6 {
  grid-column-end: span 6;
}
.row .span7 {
  grid-column-end: span 7;
}
.row .span8 {
  grid-column-end: span 8;
}
.row .span9 {
  grid-column-end: span 9;
}
.row .span10 {
  grid-column-end: span 10;
}
.row .span11 {
  grid-column-end: span 11;
}

.indent {
  padding-left: 3ex;
}

.center {
  text-align: center;
}

.big {
  font-size: 1.5em;
}

.right {
  text-align: right;
}

.break-before {
  page-break-before: always;
}

.break-after {
  page-break-after: always;
}

code.wrap {
  white-space: pre-wrap !important;
}

.terminal {
  background-color: darkslategray;
  color: white;
  font-family: consolas, monospace;
  white-space: pre;
  padding: 1rem;
  font-size: 0.9em;
  margin-bottom: 1rem;
}
.terminal::before {
  content: "Terminal";
  display: block;
  background-color: black;
  text-align: center;
  margin: -1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.file-title {
  margin-bottom: -1rem !important;
  font-family: consolas, monospace;
  font-size: 0.9em;
  color: white;
  padding: 0.5rem;
  text-align: center;
  background-color: #686868;
}

table {
  border-collapse: collapse;
  border: 2px solid black;
}
table td {
  border: 1px solid black;
}
table th {
  border: 2px solid black;
}
table td, table th {
  padding: 0.5em;
  text-align: center;
}

.middle {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.nowrap {
  white-space: nowrap;
}

.wrap {
  white-space: normal;
  overflow-wrap: break-word;
}

body.chapter h1 {
  font-weight: normal;
  font-size: 2.5rem;
  text-align: center;
  margin: 3.236rem 0 2rem 0;
  counter-reset: chapter var(--chapter-nb);
}
body.chapter .ref-nb:before {
  content: counter(chapter) ".";
}
body.chapter h2 {
  font-size: 1.5rem;
  counter-reset: subsection;
}
body.chapter h2:before {
  content: counter(chapter) "." counter(section) "  ";
  counter-increment: section;
}
body.chapter h3 {
  counter-reset: subsubsection;
}
body.chapter h3:before {
  content: counter(chapter) "." counter(section) "." counter(subsection) "  ";
  counter-increment: subsection;
}
body.chapter h4:before {
  content: counter(chapter) "." counter(section) "." counter(subsection) "." counter(subsubsection) "  ";
  counter-increment: subsubsection;
}

.pygments {
  background: #f0f0f0;
  border-radius: 4px;
  margin: 1rem 0;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Hashbang */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.PreprocFile */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.EmphStrong */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Bin */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Affix */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Delimiter */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Function.Magic */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Name.Variable.Magic */
  /* Literal.Number.Integer.Long */
}
.pygments table {
  border: none;
}
.pygments td {
  border: none;
  text-align: left;
  padding: 0.5rem;
}
.pygments pre {
  line-height: 125%;
  margin: 0;
}
.pygments td.linenos .normal {
  color: inherit;
  background-color: transparent;
}
.pygments span.linenos {
  color: inherit;
  background-color: transparent;
}
.pygments td.linenos .special {
  color: #000000;
  background-color: #ffffc0;
}
.pygments span.linenos.special {
  color: #000000;
  background-color: #ffffc0;
}
.pygments .hll {
  background-color: #ffffcc;
}
.pygments .c {
  color: #3D7B7B;
  font-style: italic;
}
.pygments .err {
  border: 1px solid #FF0000;
}
.pygments .k {
  color: #008000;
  font-weight: bold;
}
.pygments .o {
  color: #666666;
}
.pygments .ch {
  color: #3D7B7B;
  font-style: italic;
}
.pygments .cm {
  color: #3D7B7B;
  font-style: italic;
}
.pygments .cp {
  color: #9C6500;
}
.pygments .cpf {
  color: #3D7B7B;
  font-style: italic;
}
.pygments .c1 {
  color: #3D7B7B;
  font-style: italic;
}
.pygments .cs {
  color: #3D7B7B;
  font-style: italic;
}
.pygments .gd {
  color: #A00000;
}
.pygments .ge {
  font-style: italic;
}
.pygments .ges {
  font-weight: bold;
  font-style: italic;
}
.pygments .gr {
  color: #E40000;
}
.pygments .gh {
  color: #000080;
  font-weight: bold;
}
.pygments .gi {
  color: #008400;
}
.pygments .go {
  color: #717171;
}
.pygments .gp {
  color: #000080;
  font-weight: bold;
}
.pygments .gs {
  font-weight: bold;
}
.pygments .gu {
  color: #800080;
  font-weight: bold;
}
.pygments .gt {
  color: #0044DD;
}
.pygments .kc {
  color: #008000;
  font-weight: bold;
}
.pygments .kd {
  color: #008000;
  font-weight: bold;
}
.pygments .kn {
  color: #008000;
  font-weight: bold;
}
.pygments .kp {
  color: #008000;
}
.pygments .kr {
  color: #008000;
  font-weight: bold;
}
.pygments .kt {
  color: #B00040;
}
.pygments .m {
  color: #666666;
}
.pygments .s {
  color: #BA2121;
}
.pygments .na {
  color: #687822;
}
.pygments .nb {
  color: #008000;
}
.pygments .nc {
  color: #0000FF;
  font-weight: bold;
}
.pygments .no {
  color: #880000;
}
.pygments .nd {
  color: #AA22FF;
}
.pygments .ni {
  color: #717171;
  font-weight: bold;
}
.pygments .ne {
  color: #CB3F38;
  font-weight: bold;
}
.pygments .nf {
  color: #0000FF;
}
.pygments .nl {
  color: #767600;
}
.pygments .nn {
  color: #0000FF;
  font-weight: bold;
}
.pygments .nt {
  color: #008000;
  font-weight: bold;
}
.pygments .nv {
  color: #19177C;
}
.pygments .ow {
  color: #AA22FF;
  font-weight: bold;
}
.pygments .w {
  color: #bbbbbb;
}
.pygments .mb {
  color: #666666;
}
.pygments .mf {
  color: #666666;
}
.pygments .mh {
  color: #666666;
}
.pygments .mi {
  color: #666666;
}
.pygments .mo {
  color: #666666;
}
.pygments .sa {
  color: #BA2121;
}
.pygments .sb {
  color: #BA2121;
}
.pygments .sc {
  color: #BA2121;
}
.pygments .dl {
  color: #BA2121;
}
.pygments .sd {
  color: #BA2121;
  font-style: italic;
}
.pygments .s2 {
  color: #BA2121;
}
.pygments .se {
  color: #AA5D1F;
  font-weight: bold;
}
.pygments .sh {
  color: #BA2121;
}
.pygments .si {
  color: #A45A77;
  font-weight: bold;
}
.pygments .sx {
  color: #008000;
}
.pygments .sr {
  color: #A45A77;
}
.pygments .s1 {
  color: #BA2121;
}
.pygments .ss {
  color: #19177C;
}
.pygments .bp {
  color: #008000;
}
.pygments .fm {
  color: #0000FF;
}
.pygments .vc {
  color: #19177C;
}
.pygments .vg {
  color: #19177C;
}
.pygments .vi {
  color: #19177C;
}
.pygments .vm {
  color: #19177C;
}
.pygments .il {
  color: #666666;
}

@page {
  margin: 2cm;
}
body {
  counter-reset: section;
  max-width: 40rem;
  margin: auto;
  font-size: 12pt;
  padding: 1rem;
  position: relative;
}

h1 {
  font-weight: normal;
  font-size: 2.5rem;
  text-align: center;
  margin: 3.236rem 0 2rem 0;
}

h2 {
  font-size: 1.5rem;
  counter-reset: subsection;
}
h2:before {
  content: counter(section) "  ";
  counter-increment: section;
}
h2.nocount:before {
  content: none;
  counter-increment: none;
}

h3 {
  counter-reset: subsubsection;
}
h3:before {
  content: counter(section) "." counter(subsection) "  ";
  counter-increment: subsection;
}
h3.nocount:before {
  content: none;
  counter-increment: none;
}

h4:before {
  content: counter(section) "." counter(subsection) "." counter(subsubsection) "  ";
  counter-increment: subsubsection;
}
h4:before.nocount:before {
  content: none;
  counter-increment: none;
}

ul {
  list-style-type: none;
}
ul > li {
  position: relative;
}
ul > li::before {
  content: "— ";
  position: absolute;
  left: -1.5em;
}

figure {
  max-width: 100%;
  margin: 1rem auto 1rem auto;
  text-align: center;
}